<section class="banner-area py-7 about-bg">
        <!-- Content -->
        <div class="container">
            <div class="row  align-items-center">
                <div class="col-md-12 col-lg-8 text-center text-lg-left">
                    <div class="main-banner">

                        <h4>Dobrodošli na e-knjižnem nomadu!</h4>
                        <br>

                        <h5>Kaj je e-knjižni nomad?</h5>
                        <p>E-knjižni nomad predstavlja virtualno knjižnico del slovenskih pesnikov, ki skuša poezijo približati ljudem. 
                              Trenutno se v e-knjižnici nahaja <strong>20 del</strong>, ki jih lahko prebirate, ob enem pa izbirate besede, 
                              ki po vašem mnenju najbolj zaznamujejo prebrano poezijo.</p>

                        <h5>Kako e-knjižni nomad deluje?</h5>
                        <p>Za najboljšo izkušnjo e-knjižnega nomada vam priporočamo uporabo spletne strani, na kateri se nahajate 
                            ter uporabo mobilne naprave, ki ima kamero.</p>
                        <p>Z navigiranjem po spletni strani izberete delo, ki vas zanima in njeno QR kodo skenirate z mobilno napravo.</p>
                        <p>Na mobilni napravi se vam po uspešnem skeniranju prikaže izbrano delo, od tam pa lahko nadaljujete na izbiro besede.</p>
                        <p>Po uspešno izbrani besedi se vam bodo na zaslonu prikazale besede, ki so bile izbrane največkrat.</p>

                        <img class="align-right" src="../images/about.png"  style="padding-top: 5%;" width="50%">
                
                    </div>
                </div>

                
                </div>
            </div> 
        </div> 
    </section>