
<div id="container">
                <!-- <h1>QR Code Scanner</h1> -->
          
                <a id="btn-scan-qr">
                    <br>
                  <img style="width: 100%; margin-left:0px" src="../images/scanner.png">
                  <br>
                  <br>
                  <p style="text-align: center;">Postavi QR kodo znotraj kvadrata.<p>
                    <p style="text-align: center;">QR koda je na voljo na 
                        spletni strani e-knjižnega nomada.</p>
                </a>
          
                <canvas hidden="" id="qr-canvas"></canvas>
          
                <div id="qr-result" hidden="">
                  <b>Data:</b> <span id="outputData"></span>
                </div>
              </div>
          
              <script src="../javascripts/qrCodeScanner.js"></script>
              </div>

              
    <!-- </div> -->
    <br>
    <a href="/scan"><button class="btn btn-green btn-circled" style="margin: auto; display:block">Nadaljuj</button></a>

    <br>

